<div>
  <div class="box first">
    <h6>Forms Template</h6>
    <div class="row">
      <div class="col-3 box-item draggable" *ngFor="let tool of toolItems.forms">
        <span class="material-icons">{{tool.logo}}</span>
        <span class="tool-name">{{tool.name}}</span>
      </div>
    </div>
  </div>
  <div class="box">
    <h6>Elements</h6>
    <div class="row">
      <div class="col-3 box-item draggable" *ngFor="let tool of toolItems.elements">
        <span class="material-icons">{{tool.logo}}</span>
        <span class="tool-name">{{tool.name}}</span>
      </div>
    </div>
  </div>
</div>
