
.box-item {
  height: 80px;
  background-color: rgb(16 16 33 / 6%);
  border-radius: 3px;
  margin: 5px 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  min-width: 90px;
  z-index: 10000;
  box-shadow: 0 0 3px 0 rgb(114 119 122 / 28%);
}

.box-item span {
  display: block;
}

.tool-name {
  font-size: .8em;
  color: #72777ac7;
  z-index: 100000;
}

.material-icons {
  margin-bottom: 10px;
  color: #606060;
}

.box-item.active {
  border: 1px solid #5DB03A;
  background-color: rgba(114, 119, 122, 0.25);
}

.box-item.active .material-icons, .box-item.active span {
  color: #5DB03A;
}

.box.first {
  margin-bottom: 50px;
}

h6 {
  margin-bottom: 10px;
}

