<!-- Page Content Holder -->
<div class="container-fluid wrapper">
  <div class="row flex-xl-nowrap">
    <app-navbar class="sw-sidebar active"></app-navbar>
    <main class="py-md-3 px-md-4 sw-content" role="main">
      <h1 class="sw-title" id="content">SURVEYS</h1>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6">
              <app-servey-list></app-servey-list>
            </div>
            <div class="col-sm-6">
              <app-servey-tool-box></app-servey-tool-box>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          Builder
        </div>
      </div>
    </main>
  </div>
</div>
