
.sw-sidebar ul {
  overflow-x: hidden;
}

.material-icons {
  margin-right: 0;
  display: block;
  font-size: 32px;
  margin-bottom: 5px;
  padding-right: 0;
  text-indent: 0;
  background-color: transparent;
  color: #72777a91 !important;
}



.sw-toc-item.active .sw-toc-link, .sw-toc-item.active .material-icons {
  color: #72777a !important;
}


.sw-toc-link-text {
  display: block !important;
  font-size: 0.8em !important;
  text-indent: 0;
  color: #72777ac7 ;
}

.collapse {
  display: block;
}

.copyright {
  position: absolute;
  bottom: 20px;
  font-size: 0.7em;
  margin-left: 5px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}


.copyright span {
  display: block;
}
