<div id="sidebar">
  <ul class="collapse sw-links" id="sw-docs-nav" data-children=".sw-toc-item">
    <li class="sw-toc-item">
      <a class="sw-toc-link" href="#">
        <span class="material-icons">space_dashboard</span>
        <span class="text sw-toc-link-text">Dashboard</span>
      </a>
    </li>
    <li class="sw-toc-item active">
      <a class="sw-toc-link" href="#">
        <span class="material-icons">poll</span>
        <span class="text sw-toc-link-text">Surveys</span>
      </a>
    </li>
    <li class="sw-toc-item">
      <a class="sw-toc-link" href="#">
        <span class="material-icons">receipt_long</span>
        <span class="text sw-toc-link-text">Feed Tasks</span>
      </a>
    </li>
  </ul>
  <div class="copyright">
    <span>Acumen</span>
    <span>Network</span>
    <span>&copy; 2020</span>
  </div>
</div>
