header {
  background-color: #414143 !important;
  color: white !important;
  border-radius: 0 0 16px 16px !important;
}


header button {
  color: white !important;
}

.navbar-brand img {
  width: 107px !important;
  margin-right: 10px;
}

.btn-menu {
  width: 80px !important;
}

.user-logo {
  margin-left: 17px !important;
  margin-right: 10px !important;
  border: 2px solid white;
  width: 40px !important;
  height: 40px !important;
}

.not-icon {
  margin-top: 6px ;
  margin-right: 20px;
}


@media (max-width: 768px) {
  .user, .logo {
    margin-top: 10px;
  }
}
