<div class=" row quiz-el">
  <div class="col-11 quiz">
    <div class="title">
      Quiz
    </div>
    <div class="content">
      Please, drag and drop in this area your desirate elements or template to constitute your quiz...
    </div>
  </div>
  <div class="col-1 options">
    <div>
      <span class="material-icons add">add_circle_outline</span>
      <span class="material-icons del">delete</span>
      <span class="material-icons ctn">warning</span>
      <span class="material-icons set">settings</span>
    </div>
  </div>
</div>
