<div class="col-11 quiz">
  <div class="title">
    {{ item.name }}
  </div>
<!--  Add class : sortable to turn content in drag and drop tool item receiver -->
  <div class="content">
    Please, drag and drop in this area your desirate elements or template to constitute your quiz...
  </div>
</div>
<div class="col-1 options">
  <div>
    <span class="material-icons add" (click)="addQuiz()">add_circle_outline</span>
    <span class="material-icons del" (click)="removeQuiz()" [class.disabled] = "!canDelete()" >delete</span>
    <span class="material-icons ctn">warning</span>
    <span class="material-icons set">settings</span>
  </div>
</div>
