
.card-header button {
  position: absolute;
  right: 0;
  top: 4px;
}

.card-header {
  border: unset;
  color: black;
  background-color: unset;

}

.card-header .material-icons {
  color: black;
  font-size: 29px;
}


