<div class="card">
  <div class="card-header">
    Survey List
    <button type="button" class="btn btn-link move">
      <span class="material-icons">add_circle</span>
    </button>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon material-icons">search</span>
        <input type="text" class="form-control" placeholder="Rechercher" aria-label="Search" [disabled]="surveys.length === 0 && onSearchLoading === false" [(ngModel)]="searched" (ngModelChange)="refresh()">
      </div>
    </div>
    <div class="list-survey">
      <div class="list-item-survey">
        <app-survey-list-item *ngFor="let survey of surveys" [item] = "survey"></app-survey-list-item>
        <div *ngIf="surveys.length === 0 && onSearchLoading === true" class="alert alert-warning" role="alert">
          Oops... There is no survey name which match with your research.
        </div>
        <div *ngIf="surveys.length === 0 && onSearchLoading === false" class="alert alert-light" role="alert">
          You don't have any survey yet.
        </div>
      </div>
    </div>
  </div>
</div>
